@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(101.07deg, #19141e 7.93%, #4c6793 93.3%);
  padding: 16px;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  row-gap: 16px;
  max-width: 360px;
  z-index: 1;
}

.containerProfile {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: #fff;
}

.containerImage {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  z-index: 99;
}

h1 {
  margin-top: 10px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 18px;
  text-align: center;
}

h2 {
  margin-top: 5px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

.containerList {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.itemListLogo {
  margin: 0;
  height: 20px;
  margin-right: 15px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 12px;
  width: 100%;
}

li {
  width: 100%;
}

a {
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #19141e;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: #fff;
  border-radius: 10px;
  padding: 12px;
  text-align: start;
  cursor: pointer;
}
